<template name="meets">

<div class="container">
  
    
  {{#if meets.count }}
    {{#each meets}}

      <div class="row">
        <h1>{{title}}</h1>
        <h3> <small>host by</small> {{hoster}}  <small>{{shortTimeDate start}} ~ </small> 
            <small>{{shortTimeDate end}} </small></h3>    
      </div>
      <div class="row">
        <div class=" btn-group small">
          <button type="button" class="btn btn-default">
          Join
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <button type="button" class="btn btn-default">Like
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>
        </div>
      </div>
    {{/each}}

  {{else}}
    <h2>there is no meeting now , try new One</h2>
  {{/if}}
</div>

</template>